{
  "jobs": {
    "build": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v5"
        },
        {
          "uses": "actions/setup-node@v4",
          "with": {
            "node-version": "20"
          }
        },
        {
          "run": "npm install"
        },
        {
          "run": "npx vsce package --out purple-yolk.vsix"
        },
        {
          "uses": "actions/upload-artifact@v4",
          "with": {
            "name": "purple-yolk-${{ github.sha }}.vsix",
            "path": "purple-yolk.vsix"
          }
        },
        {
          "env": {
            "GITHUB_TOKEN": "${{ secrets.GITHUB_TOKEN }}"
          },
          "if": "github.event_name == 'release'",
          "uses": "svenstaro/upload-release-action@v2",
          "with": {
            "asset_name": "purple-yolk-${{ github.event.release.tag_name }}.vsix",
            "file": "purple-yolk.vsix"
          }
        },
        {
          "if": "github.event_name == 'release'",
          "run": "npx vsce publish --packagePath purple-yolk.vsix --pat \"${{ secrets.AZURE_PERSONAL_ACCESS_TOKEN }}\""
        },
        {
          "if": "github.event_name == 'release'",
          "run": "npx ovsx publish --packagePath purple-yolk.vsix --pat \"${{ secrets.OVSX_PAT }}\""
        }
      ]
    }
  },
  "name": "Workflow",
  "on": {
    "pull_request": {
      "branches": [
        "main"
      ]
    },
    "push": {
      "branches": [
        "main"
      ]
    },
    "release": {
      "types": [
        "created"
      ]
    }
  }
}
